.about-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #030760;
    padding: 30px;
    color: white;
}

.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.individual{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.details p{
    margin-top: 0;
}

.more{
    margin-left: 30px;
}

.more-1{
    margin-left: 40px;
}

.payment-methods{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.payment-methods img{
    width: auto;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.payments-section{
    display: flex;
    flex-direction: column;
    width:300px;
}

.about-section ul{
    list-style-type: "->";
}

.about-section ul li{
    margin: 10px;
    margin-left:0px;
}